/* ToDo: add flex-grow, flex-shrink, flex-basis, flex-flow, align-items, align-self, justify-content mixins */
/*
*   @description
*   Generates border radius for a given element
*   @example
*  .selector {
*       @include border-radius(5px);
*   }
*/
/*
*   @description
*   Generates opacity for a given element
*   @example
*  .selector {
*       @include opacity(5px);
*   }
*/
/*
*   @description
*   Generates box shadow for a given element
*   @example
*  .selector {
*       @include box-shadow(5px 5px 10px 5px #aaa);
*   }
*/
/*
*   @description
*   Generates text shadow for a given element
*   @example
*  .selector {
*       @include text-shadow(5px 5px 10px 5px #aaa);
*   }
*/
/*
 * @description
 * Generates a linear gradient for a given element with a fallback color.
 * @example
 *   .selector {
 *     @include linear-gradient("to bottom", #ccc, #ddd, #bbb);
 *   }
 */
/*
 * @description
 * Generates `placeholder` content for a given element
  * @example
 *   .selector {
 *     @include x-placeholder {
 *         color: #bada55;
 *         font-weight: bold;
 *     }
 *   }
 */
/*
 * @description
 * Generates cross-browser-compatible `transform` for a given element
 * @example
 *   .selector {
 *     @include x-transform(rotate(1deg));
 *   }
 */
/*
 * @description
 * Generates cross-browser-compatible `transition` output for a given element.
 * @example
 *   .selector {
 *     @include x-transition(background 0.3s ease-in);
 *   }
 */
/*--------------------------------------------
    Fonts
--------------------------------------------*/
@font-face {
  font-family: 'base_font';
  src: url("../fonts/nor_____-webfont.eot");
  src: url("../fonts/nor_____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nor_____-webfont.woff") format("woff"), url("../fonts/nor_____-webfont.ttf") format("truetype"), url("../fonts/nor_____-webfont.svg#nobel-regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'base_font_bold';
  src: url("../fonts/nobd____-webfont.eot");
  src: url("../fonts/nobd____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nobd____-webfont.woff") format("woff"), url("../fonts/nobd____-webfont.ttf") format("truetype"), url("../fonts/nobd____-webfont.svg#nobel-boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'base_font_light_reg';
  src: url("../fonts/nolt____-webfont.eot");
  src: url("../fonts/nolt____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nolt____-webfont.woff") format("woff"), url("../fonts/nolt____-webfont.ttf") format("truetype"), url("../fonts/nolt____-webfont.svg#nobel-lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'komika_axisregular';
  src: url("../fonts/KOMIKAX_-webfont.eot");
  src: url("../fonts/KOMIKAX_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/KOMIKAX_-webfont.woff2") format("woff2"), url("../fonts/KOMIKAX_-webfont.woff") format("woff"), url("../fonts/KOMIKAX_-webfont.ttf") format("truetype"), url("../fonts/KOMIKAX_-webfont.svg#komika_axisregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icons-sprite, .icons-close, .home-details .tweet-feed ul.people-lists .picture-cont .btn-close, .icons-facebook-share, .home-details .tweet-feed ul.people-lists .picture-cont .picture-info .share-this a.share-facebook, .icons-search, .icons-twitter-share, .home-details .tweet-feed ul.people-lists .picture-cont .picture-info .share-this a.share-twitter {
  background: url('../img/icons-s9313a2f807.png') no-repeat;
}

.btn-hover, .btn:hover {
  -moz-box-shadow: inset 0px 0px 0px #f459b8, 0px 1px 0px 0px #c00f78;
  -webkit-box-shadow: inset 0px 0px 0px #f459b8, 0px 1px 0px 0px #c00f78;
  box-shadow: inset 0px 0px 0px #f459b8, 0px 1px 0px 0px #c00f78;
  top: 2px;
  color: #fff;
}
.btn-hover:before, .btn:hover:before {
  border-width: 20px;
}

.btn {
  position: relative;
  cursor: pointer;
  outline: none !important;
  font-family: "base_font";
  font-size: 14px;
  background: #f459b8;
  color: #fff;
  padding: 10px 15px;
  border: none;
  -moz-box-shadow: inset 0px 0px 0px #f459b8, 0px 3px 0px 0px #c00f78;
  -webkit-box-shadow: inset 0px 0px 0px #f459b8, 0px 3px 0px 0px #c00f78;
  box-shadow: inset 0px 0px 0px #f459b8, 0px 3px 0px 0px #c00f78;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.btn:active {
  color: #fff !important;
}

.icons-close, .home-details .tweet-feed ul.people-lists .picture-cont .btn-close {
  background-position: 0 0;
}

.icons-facebook-share, .home-details .tweet-feed ul.people-lists .picture-cont .picture-info .share-this a.share-facebook {
  background-position: 0 -79px;
}

.icons-search {
  background-position: 0 -43px;
}

.icons-twitter-share, .home-details .tweet-feed ul.people-lists .picture-cont .picture-info .share-this a.share-twitter {
  background-position: 0 -23px;
}

/*--------------------------------------------
    Common Style
--------------------------------------------*/
body {
  background-color: #f7d7e9;
  font-family: 'base_font',sans-serif;
  font-weight: normal;
  font-size: 19px;
  color: #971e64;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  border: none;
  vertical-align: middle;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

::-moz-selection {
  background: #f7bcdd;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #f7bcdd;
  color: #fff;
  text-shadow: none;
}

em {
  font-style: normal;
  font-family: 'base_font_bold', sans-serif;
  font-weight: normal;
}

/** Heading **/
h1, h2, h3, h4, h5, h6 {
  font-family: 'base_font', sans-serif;
  margin: 0;
  padding: 0;
}

h1.hashtag {
  font-family: "komika_axisregular";
  color: #c62b87;
  font-size: 42px;
}
h1.hashtag span {
  font-size: 32px;
}

h2 {
  font-size: 33px;
  line-height: 36px;
  font-family: 'base_font_bold', sans-serif;
  font-weight: normal;
}

h2.komika {
  font-family: "komika_axisregular";
  color: #c62b87;
  font-size: 25px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  font-family: 'base_font', sans-serif;
  font-weight: normal;
}

/** Main Link **/
a {
  color: #70350b;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #9a4b13;
  text-decoration: none;
}

/** Text-align **/
.text-center {
  text-align: center;
}

/*--------------------------------------------
    Resets and Presets :D
--------------------------------------------*/
article, aside, canvas, details,
figcaption, figure, footer, header,
hgroup, nav, section, summary, video, small, article {
  display: block;
}

figure {
  padding: 0;
  margin: 0;
}

video {
  max-width: 100%;
  height: auto;
}

iframe,
embed,
object {
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}

.container:after, .container:before {
  content: '';
  display: table;
}

.container:after {
  clear: both;
}

.main {
  width: 100%;
  z-index: 10;
}

.from-sprites {
  background-image: url(../img/sprites.png);
  display: inline-block;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
}

.clearfix:after, .clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.img-responsive {
  display: inline-block;
  max-width: 100%;
}

/** Button **/
.btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 10px 5px;
  outline: none;
}

.btn.btn-default {
  font-family: 'base_font_light_reg', sans-serif;
  background-color: #d22587;
  color: #f6f0fb !important;
  font-size: 16px;
  padding: 8px 20px;
  box-shadow: 0 5px 0 #7e124f;
}

button.btn.btn-default {
  border: none;
  cursor: pointer;
}

.btn.btn-default:hover {
  background-color: #c41f7c;
}

.btn.btn-default:active {
  box-shadow: 0 1px 0 #7e124f;
  background-color: #c41f7c;
  top: 4px;
}

.btn.btn-small {
  font-family: 'base_font_bold', sans-serif;
  padding: 4px 10px;
  font-size: 13px;
}

.btn.btn-medium {
  font-family: 'base_font_bold', sans-serif;
  padding: 6px 15px;
  font-size: 13px;
}

.btn.btn-large {
  font-family: 'base_font_bold', sans-serif;
  font-size: 16px;
  padding: 11px 26px;
}

.btn.btn-reverse {
  background-color: #671242;
  color: #f6f0fb !important;
  font-size: 16px;
  padding: 8px 20px;
  box-shadow: 0 5px 0 #330820;
}

button.btn.btn-reverse {
  border: none;
  cursor: pointer;
}

.btn.btn-reverse:hover {
  background-color: #871b58;
}

.btn.btn-reverse:active {
  box-shadow: 0 1px 0 #7e124f;
  background-color: #871b58;
  top: 4px;
}

.btn.btn-gray {
  background-color: #aeb2b5;
  color: #d22587 !important;
  font-size: 16px;
  padding: 8px 20px;
  box-shadow: 0 5px 0 #3a3b3d;
}

.btn.btn-blue {
  background-color: #55acee;
  color: #fff !important;
  font-size: 16px;
  padding: 8px 20px;
  box-shadow: 0 5px 0 #326f9d;
}

button.btn.btn-gray {
  border: none;
  cursor: pointer;
}

.btn.btn-gray:hover {
  background-color: #787878;
}

.btn.btn-gray:active {
  box-shadow: 0 1px 0 #575858;
  background-color: #787878;
  top: 4px;
}

.btn.btn-text {
  background-color: transparent;
  color: #d22587 !important;
  font-size: 16px;
  padding: 8px 20px;
  text-decoration: underline;
}

button.btn.btn-text {
  border: none;
  cursor: pointer;
}

.btn.btn-text:hover {
  background-color: transparent;
}

.btn.btn-text:active {
  background-color: transparent;
}

.btn-tweet {
  position: relative;
  min-width: 230px;
}

.btn-tweet span {
  position: absolute;
  width: 40px;
  height: 35px;
  border: none;
  border-right: solid 1px #fff;
  padding: 0;
  left: 0;
  top: 0;
  background: url(../img/social-sprite.png) no-repeat -43px center;
  background-size: auto 65%;
}

/*--------------------------------------------
    Header
--------------------------------------------*/
header.curvy {
  background-image: url(../img/noise-pattern.gif);
  background-repeat: repeat;
  position: relative;
  z-index: 29;
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
}

header.curvy:after {
  content: '';
  clear: both;
  background: url(../img/nav-curve.png) center center;
  width: 100%;
  position: absolute;
  height: 51px;
  bottom: -51px;
}

header.main {
  background: transparent;
  position: relative;
  z-index: 30;
  height: 85px;
  position: fixed;
  top: 0;
}

/* clearfix */
header.main:after, header.main:before {
  content: '';
  display: table;
}

.logo {
  background-position: 0 0;
  width: 80px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 14px;
  z-index: 10;
}

.logo a {
  display: block;
}

#mininav {
  background: url(../img/sprites.png) -92px -14px no-repeat;
  width: 27px;
  height: 16px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 200;
  display: none;
}

.navigation {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 2;
}

/* clearfix */
.navigation:after, .navigation:before {
  content: '';
  display: table;
}

.navigation:after {
  clear: both;
}

.navigation > a,
.navigation > span {
  display: block;
  float: left;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'base_font_light_reg', sans-serif;
  font-weight: 100;
  padding: 40px 0;
  position: relative;
  width: 160px;
  text-align: center;
}

.navigation > a.active:after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 1px;
  border-bottom: 1px solid #fff;
}

.navigation > span.logo-space {
  text-align: left;
  text-indent: -9999px;
}

.navigation > a > span:after {
  content: '';
  background: url(../img/nav-divider.png) left top no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 10px;
}

.socials {
  position: absolute;
  width: 128px;
  left: 0;
  top: 16px;
  font-size: 14px;
  color: #fff;
}

.socials a {
  display: inline-block;
  width: 31px;
  height: 32px;
  text-align: left;
  text-indent: -9999px;
  margin: 8px 3px 0;
}

.socials a.fb {
  background-position: 0 -73px;
}

.socials a.tw {
  background-position: -32px -73px;
}

.socials a.in {
  background-position: -63px -73px;
}

.see-video {
  position: fixed;
  top: 102px;
  left: 50%;
  width: 100px;
  z-index: 999;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  border: none;
  width: 210px;
  height: 65px;
  padding: 5px 40px 20px;
  z-index: 1;
  background: url(../img/see-video-bg.png) no-repeat center top;
  font: 14px base_font;
  color: #fff;
  cursor: pointer;
}

.see-video:after {
  content: '';
  position: absolute;
  border: solid 6px transparent;
  border-bottom: 0;
  border-top-color: #fff;
  bottom: 14px;
  left: 50%;
  margin-left: -4px;
}

/*--------------------------------------------
    Content
--------------------------------------------*/
section.main {
  z-index: 10;
  position: relative;
  padding-top: 106px;
}
section.main .dark-bg {
  background-image: url(../img/pattern/dark.jpg) !important;
}
section.main .light-bg {
  background-image: url(../img/pattern/light.jpg) !important;
}

/* clearfix */
section.main:after, section.main:before {
  content: '';
  display: table;
}

section.main:after {
  clear: both;
}

#home, #gallery, #mechanics, #product {
  background-repeat: repeat;
  padding: 25px 0;
}

.ie8 #home, .ie8 #gallery, .ie8 #mechanics, .ie8 #product {
  background-position: center top;
}

/* Home */
#home {
  background-image: url(../img/home-bg.jpg);
  padding-top: 70px;
}
#home p {
  padding: 0 15px;
  color: #3d3d3d;
}

#home:after {
  content: '';
  position: absolute;
  top: 165px;
  width: 127px;
  height: 46px;
  background: url(../img/floral.png);
  left: 50%;
  margin-left: -63px;
}

.home-details {
  background: #fff;
  max-width: 1020px;
  width: 94%;
  margin: 50px auto;
  border-radius: 5px;
  border: solid 1px #ccc;
  font-family: base_font;
  position: relative;
}

.home-details:after {
  content: '';
  position: absolute;
  width: 1px;
  background: #ccc;
  height: 100%;
  left: 50%;
  top: 0;
}

.home-details .ribbon {
  height: 47px;
  position: absolute;
  padding: 12px 30px;
  top: -20px;
  background: url(../img/ribbon.png);
  color: #fff;
  font-family: base_font_light_reg;
}

.home-details .how-to {
  width: 50%;
  float: left;
  text-align: center;
  padding: 70px 0;
}
.home-details .how-to img {
  width: 100%;
}

.how-to .ribbon {
  left: -10px;
  background-position: right;
}

.how-to .ribbon:after {
  content: '';
  position: absolute;
  border: solid 10px transparent;
  border-right-color: #1e5178;
  border-top: 0;
  bottom: -10px;
  left: -10px;
}

.home-details .tweet-feed {
  width: 50%;
  float: right;
  padding: 30px;
  max-height: 600px;
}
.home-details .tweet-feed ul.people-lists > li {
  float: left;
  width: 33.3333%;
  overflow: hidden;
  height: 140px;
  background-color: #000;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-details .tweet-feed ul.people-lists > li .mask {
  position: absolute;
  width: 100%;
}
.home-details .tweet-feed ul.people-lists .picture-cont {
  width: 0;
  height: 0;
  -webkit-transition: all 150ms;
  overflow: hidden;
  transition: all 150ms;
  position: absolute;
  background: #000;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.home-details .tweet-feed ul.people-lists .picture-cont .btn-close {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.home-details .tweet-feed ul.people-lists .picture-cont.active {
  width: 95%;
  height: 430px;
}
.home-details .tweet-feed ul.people-lists .picture-cont.active .picture-info {
  display: block;
  width: 100%;
}
.home-details .tweet-feed ul.people-lists .picture-cont .picture-info {
  position: absolute;
  display: none;
  bottom: 0;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  background: rgba(89, 89, 89, 0.5);
}
.home-details .tweet-feed ul.people-lists .picture-cont .picture-info ul.people-details {
  padding: 0;
  margin-bottom: 10px;
}
.home-details .tweet-feed ul.people-lists .picture-cont .picture-info ul.people-details li {
  display: inline-block;
}
.home-details .tweet-feed ul.people-lists .picture-cont .picture-info ul.people-details li:last-child {
  float: right;
}
.home-details .tweet-feed ul.people-lists .picture-cont .picture-info .share-this ul {
  width: 60px;
  float: right;
  margin-top: 15px;
  text-align: center;
  padding: 0;
}
.home-details .tweet-feed ul.people-lists .picture-cont .picture-info .share-this ul li {
  display: inline-block;
}
.home-details .tweet-feed ul.people-lists .picture-cont .picture-info .share-this a {
  height: 20px;
  width: 20px;
  margin: 3px;
  display: block;
  text-indent: -9999px;
}
.home-details .tweet-feed .search {
  height: 30px;
  border: #ededed thin solid;
  width: 270px;
  margin: 10px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.home-details .tweet-feed .search input {
  border: none;
  width: 79%;
  height: 100%;
  font-size: 12px;
  text-indent: 10px;
  outline: none;
}
.home-details .tweet-feed .search button {
  height: 100%;
  width: 19%;
  border: none;
  position: relative;
  right: -10px;
  cursor: pointer;
  background-color: #d22587;
  color: #fff;
  outline: none;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.home-details .tweet-feed .search button:hover {
  background-color: #a40e63;
}

.tweet-feed .ribbon {
  right: -10px;
  background-position: left;
}

.tweet-feed .ribbon:after {
  content: '';
  position: absolute;
  border: solid 10px transparent;
  border-left-color: #1e5178;
  border-top: 0;
  bottom: -10px;
  right: -10px;
}

.tweet-feed ul {
  overflow: auto;
  list-style: none;
  padding: 0 10px;
}

.tweet-feed li .thumb {
  position: absolute;
  left: 0;
  top: 5px;
}

.tweet-feed .date {
  font-size: 12px;
  color: #999;
  position: absolute;
  right: 10px;
}

.tweet-feed .name {
  font-size: 14px;
  color: #555;
}

.tweet-feed .name em {
  font: normal 11px arial;
  color: #55acee;
  padding-left: 10px;
}

.tweet-feed .tweet {
  display: block;
  margin-top: 5px;
  font-size: 11px;
}

/* Prizes */
#prizes {
  background-color: #721d4d;
  background-image: url(../img/prizes-bg.png);
  background-repeat: repeat;
  background-position: fixed;
  padding: 60px 0;
  color: #fff;
}
#prizes .title {
  text-align: center;
}
#prizes .title h4, #prizes .title b {
  font-family: "komika_axisregular" !important;
}
#prizes .title b {
  font-size: 25px;
}
#prizes .title h4 {
  font-size: 21px;
}
#prizes .title p {
  font-size: 25px;
}

#prizes h2 {
  font-family: 'base_font_light_reg',sans-serif;
  font-size: 26px;
  text-align: center;
  padding-bottom: 10px;
  max-width: 800px;
  margin: 0 auto;
}

#prizes .sharer button {
  background: url(../img/social-sprite.png) no-repeat;
  height: 50px;
  width: 60px;
  border: solid 1px #fff;
  margin: 0 10px;
  cursor: pointer;
}

#prizes .sharer .fb {
  background-position: 20px center;
}

#prizes .sharer .tw {
  background-position: -57px center;
}

#prizes .sharer .ig {
  background-position: -132px center;
}

#prizes .content {
  margin: 0 auto;
  width: 977px;
  text-align: center;
}

ul.prizes {
  list-style-type: none;
  margin: 50px auto;
  padding: 0 0 20px;
}

ul.prizes li {
  display: inline-block;
  width: 170px;
  font-family: 'base_font_light_reg',sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
  vertical-align: top;
  margin: 10px 30px;
}

ul.prizes li figure {
  display: block;
  margin-bottom: 10px;
}

ul.prizes li img {
  max-width: 100%;
}

/* Mechanics */
#mechanics {
  background-image: url(../img/mechanics-bg.jpg);
  background-repeat: repeat;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}

#popup-full-mechanics {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 800;
  top: 0;
}

#popup-full-mechanics .blur {
  position: absolute;
}

#popup-full-mechanics .popup-content {
  background-image: none;
  background-color: #fff;
  color: #7c1c51;
  font-size: 14px;
  width: 700px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -transform: translate(0, -50%);
}

#popup-full-mechanics .popup-content > .content {
  padding: 10px;
}

#popup-full-mechanics .popup-content > .content .slimScrollBar {
  z-index: 999 !important;
  opacity: 1 !important;
}

#popup-full-mechanics .popup-content > .content .slimScrollRail {
  z-index: 900 !important;
}

.slider {
  position: relative;
  z-index: 10;
}

.slider .padding {
  padding-right: 20px;
}

#mechanics .for-mechanics {
  top: 70px;
  width: 800px;
}

#mechanics .container {
  width: 977px;
}

.mechanics-details {
  width: 1020px;
  max-width: 98%;
  margin: 50px auto;
  font-family: base_font;
  position: relative;
}

.mechanics-details .left {
  width: 50%;
  float: left;
  padding: 0 30px;
}

.mechanics-details .left img {
  max-width: 100%;
}

.mechanics-details .left p {
  font: 18px base_font;
  color: #4f4f4f;
}

.mechanics-details .right {
  width: 50%;
  float: right;
  padding: 30px;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.mechanics-details .right .disclaimer p {
  color: #4f4f4f;
  font-size: 14px;
  margin: 0;
}

ul.caveman-mechanics {
  padding: 0;
  list-style: none;
  color: #4f4f4f;
  border-bottom: #fdadde thin solid;
}

ul.caveman-mechanics li {
  padding: 0 0 0 70px;
  position: relative;
  font-size: 17px;
  margin-bottom: 5px;
  min-height: 100px;
  display: table;
}

ul.caveman-mechanics li > i {
  font: normal 34px base_font_light_reg;
  border: solid 1px #c62b87;
  padding: 5px 0;
  color: #c62b87;
  width: 60px;
  position: absolute;
  left: 0;
  top: 5px;
  text-align: center;
}

.show_full_mechanics {
  float: right;
  font: italic 12px base_font;
  color: #fff;
}

/* Product */
#product {
  background-image: url(../img/product-bg.jpg);
  background-position: bottom center;
  background-repeat: repeat;
  padding: 60px 0 40px;
}
#product .products {
  padding-top: 80px;
}
#product .products .hashtag-img {
  width: 100%;
  height: 200px;
}
#product .products .hashtag-img img {
  position: absolute;
  right: 0;
}
#product .products .per-product {
  width: 19%;
  min-height: 420px;
  text-align: center;
  float: right;
  background-position: bottom;
  background-repeat: no-repeat;
}
#product .products .per-product .product-img {
  width: 100%;
  min-height: 265px;
  background-repeat: no-repeat;
  background-position: bottom;
}
#product .products .per-product .product-img.p1 {
  background-image: url(../img/p-1.png);
}
#product .products .per-product .product-img.p2 {
  background-image: url(../img/p-2.png);
}
#product .products .per-product .product-img.p3 {
  background-image: url(../img/p-3.png);
}
#product .products .per-product .product-img.p4 {
  background-image: url(../img/p-4.png);
}
#product .products .per-product .product-img.p5 {
  background-image: url(../img/p-5.png);
}
#product .products .per-product .per-details {
  position: relative;
  min-height: 200px;
}
#product .products .per-product .per-details .details-copy {
  color: #3a3a3a;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#product h3 {
  text-align: center;
  font: normal 24px base_font;
}

#product ul.skin {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 30px 0;
}

ul.skin li {
  width: 109px;
  min-height: 140px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

ul.skin li span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

#product .product-container {
  width: 85%;
  min-height: 400px;
  margin: 20px auto;
  padding-top: 20px;
  position: relative;
}

.bubble-box {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  border-radius: 10px;
  font: 18px base_font_light_reg;
  background-color: #fff;
  box-shadow: 0 0 10px #7b144e;
  position: relative;
}

.bubble-box:after {
  content: '';
  background: url(../img/product-pointer.png) no-repeat;
  display: block;
  width: 106px;
  height: 84px;
  position: absolute;
  bottom: -80px;
  right: 300px;
}

.products {
  min-height: 550px;
}

/*--------------------------------------------
    Footer
--------------------------------------------*/
footer.main {
  background-color: #ca2b8a;
  background-image: url(../img/noise-pattern.gif);
  background-repeat: repeat;
  position: relative;
  color: #fff;
  font-size: 14px;
}

footer.main a {
  color: #fff;
}

/* clearfix */
footer.main:after, footer.main:before {
  content: '';
  display: table;
}

footer.main:after {
  clear: both;
  background: #626c75 url(../img/nav-gray-bar.jpg) center center no-repeat;
  width: 100%;
  position: absolute;
  height: 8px;
  position: absolute;
  top: -8px;
  box-shadow: 5px 0 3px #6d5964;
}

footer.main .container {
  padding: 20px 0;
  width: 977px;
}

footer.main .container .left {
  float: left;
  width: 50%;
  text-align: left;
}

footer.main .container .left .copyright {
  margin: 0;
  padding: 5px 0;
}

footer.main .container .left .logo {
  position: relative;
  margin-left: 0;
  margin-right: 20px;
  display: inline-block;
  top: 0;
  left: 0;
}

.share-fb {
  background-position: -15px -487px;
  width: 73px;
  height: 26px;
  margin-right: 10px;
}

.share-tw {
  background-position: -95px -487px;
  width: 73px;
  height: 26px;
}

footer.main .container .right {
  float: left;
  width: 50%;
  text-align: right;
}

.footer-product {
  background-image: url(../img/product-footer.png);
  background-repeat: no-repeat;
  display: block;
  width: 217px;
  height: 140px;
  text-align: left;
  text-indent: -9999px;
  float: right;
}

.footnav {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

/* Popup */
.popup {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 800;
}

.popup-content .close {
  background: url(../img/sprites.png) -99px -72px no-repeat;
  display: block;
  width: 29px;
  height: 30px;
  text-indent: -999px;
  text-align: left;
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 10;
  overflow: hidden;
}

.popup-content {
  background: #ffa2d7 url(../img/popup-bg.jpg) center top repeat-x;
  position: relative;
  margin: 0 auto;
  z-index: 900;
  border-radius: 6px;
  padding: 10px;
}

.popup-content > .content {
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 30px;
  overflow: auto;
  max-height: 100%;
}

.blur {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 700;
}

.ie8 .blur {
  background: url(../img/transparent-black.png) repeat;
}

.hide-large {
  display: none;
}

.hide-medium {
  display: block;
}

#popup-video .popup-content {
  position: fixed;
  left: 50%;
  top: 47%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 96%;
  border-radius: 0;
  background: transparent;
  width: 700px;
  height: 400px;
  padding: 0;
}

/*--------------------------------------------
    Responsive
--------------------------------------------*/
@media screen and (min-width: 1000px) {
  .navigation {
    display: block !important;
  }
}
@media screen and (min-width: 568px) and (max-width: 667px) {
  ul.people-lists > li {
    width: 33.3333% !important;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    width: 1000px;
  }
}
@media screen and (max-width: 1039px) {
  .socials {
    position: absolute;
    width: 128px;
    left: 0;
    top: 29px;
    font-size: 14px;
    color: #fff;
  }

  .socials > span {
    display: none;
  }
}
@media screen and (max-width: 999px) {
  .home-details .tweet-feed ul.people-lists > li {
    width: 50%;
  }

  h1.hashtag {
    font-size: 32px;
  }
  h1.hashtag span {
    font-size: 25px;
  }

  #home:after {
    top: 120px;
  }

  .hide-large,
  #mininav {
    display: block;
  }

  .hide-medium,
  .navigation {
    display: none;
  }

  .gallery-list ul li.controls .holder {
    padding: 10px 10px 0;
  }

  .navigation > a.active:after {
    border-bottom: none;
  }

  header.main, header.curvy {
    height: 64px;
  }

  .see-video {
    background-image: url(../img/see-video-bg-small.png);
    top: 78px;
    height: 53px;
    width: 135px;
    font: 11px base_font_light_reg;
    line-height: 11px;
    padding: 5px 20px 20px;
  }

  .see-video:after {
    margin-left: -6px;
  }

  .socials {
    position: absolute;
    width: 128px;
    left: 20px;
    top: 8px;
    font-size: 14px;
    color: #fff;
  }

  .socials > span {
    display: none;
  }

  .logo {
    background-position: 0 -559px;
    width: 54px;
    height: 48px;
    left: 50%;
    margin-left: -27px;
    top: 8px;
  }

  .navigation {
    background-color: #cc258c;
    position: absolute;
    top: 70px;
    right: 0;
    width: 144px;
    padding: 10px 0;
  }

  .navigation > a {
    display: block;
    float: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'base_font_light_reg', sans-serif;
    font-weight: 100;
    padding: 15px 20px;
    position: relative;
    width: auto;
    text-align: right;
    background: url(../img/nav-divider-hor.png) center bottom no-repeat;
  }

  .navigation > a:last-child {
    background: no-repeat;
  }

  .navigation > span.logo-space {
    display: none;
  }

  .navigation > a > span:after {
    background: none;
  }

  section.main {
    padding-top: 64px;
  }

  .container,
  #gallery > .container,
  #prizes .content,
  #prizes .divider-top,
  #prizes .divider-bottom,
  #mechanics .container,
  footer.main .container {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  ul.prizes {
    padding: 0;
  }

  ul.prizes li {
    margin: 10px 20px;
  }

  .product-deo {
    width: 480px;
    right: -20px;
  }
}
@media screen and (max-width: 767px) {
  .caveman-mechanics .copy {
    margin-top: -15px;
  }

  #product .products .per-product .per-details .details-copy {
    position: relative;
  }

  .per-product {
    width: 100% !important;
  }

  body {
    background-image: url(../img/body-bg-mobile.jpg);
  }

  .btn {
    margin: 0;
  }

  h1.hashtag {
    font-size: 28px;
  }
  h1.hashtag span {
    font-size: 22px;
  }

  .home-details .tweet-feed .search {
    width: 200px;
  }

  .home-details .tweet-feed ul.people-lists > li {
    width: 50%;
  }

  #home, #mechanics, #product {
    background: transparent;
    padding: 0;
  }

  #prizes {
    background: rgba(118, 30, 80, 0.7) !important;
  }

  .socials a {
    background-size: 140px auto;
    width: 24px;
    height: 24px;
  }

  .socials a.fb {
    background-position: 0 -55px;
  }

  .socials a.tw {
    background-position: -23px -55px;
  }

  .socials a.in {
    background-position: -47px -55px;
  }

  #header:after {
    bottom: -48px;
  }

  #home {
    padding-top: 30px;
  }

  #home:after {
    display: none;
  }

  .home-details {
    width: 100%;
  }

  .home-details:after {
    display: none;
  }

  .home-details .how-to {
    width: 100%;
    padding: 40px 10px 30px;
  }

  .home-details .tweet-feed {
    width: 100%;
    position: relative;
    border-top: solid 1px #ccc;
    padding: 70px 10px 10px;
  }

  .tweet-feed ul {
    max-height: 300px;
  }

  .tweet-feed .ribbon {
    right: initial;
    top: 20px;
    left: -10px;
    background-position: right;
  }

  .tweet-feed .ribbon:after {
    border: solid 10px transparent;
    border-right-color: #1e5178;
    border-top: 0;
    left: -10px;
    right: inherit;
  }

  .mechanics-details {
    margin-top: 0;
  }

  .mechanics-details:after {
    display: none;
  }

  .mechanics-details .left {
    border-bottom: solid 1px #fff;
    padding-bottom: 30px;
  }

  .mechanics-details .left, .mechanics-details .right {
    width: 100%;
    padding: 10px;
  }

  .mechanics-details .caveman-mechanics li {
    padding-left: 40px;
  }

  .mechanics-details .caveman-mechanics li i {
    width: 30px;
    font-size: 18px;
    padding: 2px 0;
  }

  .tweet-feed ul li {
    padding-left: 0;
  }

  .tweet-feed ul .thumb {
    width: 40px;
  }

  .tweet-feed ul .name {
    padding: 0 0 0 50px;
  }

  .tweet-feed ul .name em {
    padding: 0 0 0 50px;
  }

  .tweet-feed ul .date {
    font-size: 10px;
    position: relative;
    right: initial;
    display: block;
    padding: 0 0 0 50px;
  }

  .tweet-feed ul .thumb img {
    width: 100%;
  }

  #prizes {
    padding-bottom: 0;
  }

  #prizes h2 {
    font-size: 18px;
    line-height: 18px;
  }

  #prizes .content {
    padding: 20px 0 0;
  }

  ul.prizes li {
    margin-bottom: 30px;
  }

  #product {
    padding: 50px 0 30px 0;
  }

  #product h3 {
    font: 18px base_font_light_reg;
  }

  #product ul.skin {
    margin: 30px -15px;
  }

  #product ul.skin li {
    margin: 15px;
  }

  .product-container {
    max-width: 100%;
  }

  .bubble-box {
    width: 100%;
  }

  .bubble-box:after {
    right: initial;
    left: 20%;
  }

  .product-deo {
    position: relative;
    width: 100%;
    right: initial;
    margin-top: 30px;
    padding-top: 356px;
  }

  .product-deo .can {
    width: 100%;
    position: absolute;
    top: 0;
  }

  .product-deo .rollon {
    width: 45%;
    padding-top: 0;
  }

  .product-deo .spray {
    width: 45%;
    padding-top: 0;
    float: right;
  }

  footer.main .logo {
    background-position: 0 0;
    height: 73px;
    width: 80px;
    margin: 55px 0 -5px;
  }

  footer.main .container .left {
    width: 100%;
    float: none;
  }

  footer.main .container .right {
    width: 100%;
    float: none;
    position: absolute;
    right: 0;
    top: 20px;
  }

  footer.main .container .right figure {
    width: 130px;
  }

  #popup-video .popup-content {
    height: 270px;
  }

  #popup-video .popup-content .close {
    right: 2px;
    top: -35px;
    text-indent: 10px;
    color: #fff;
    font-size: 14px;
    width: 60px;
    background: #D22587;
    padding: 3px 0;
    height: auto;
  }

  #popup-full-mechanics .popup-content {
    width: 90%;
    height: 80%;
  }
}
.slimScrollRail {
  background-color: #f3e6ed !important;
}

.slimScrollBar {
  background-color: #c62b87 !important;
  opacity: 1 !important;
}
