body{
     padding-top: 70px; 
}

.page-header{
     margin-top: 10px
}
     .page-header h3{
          display: inline-block;
     }

     .page-header .actions{
          float:right;
          margin-top: 20px
     }


.login-content{
     width: 420px;
     border: solid 1px #ccc;
     border-radius: 20px;
     padding: 0px 40px 10px;
}

footer.main{
     display: block;
     width: 100%;
     padding: 20px 0;
     border-top: solid 1px #aaa
}

textarea#content{
  width: 100%;
}

.advance-search{
  display: none;
  position: absolute;
  right: 0;
  z-index: 2;
  margin-right: 50px;
}
.form-content{
  padding: 20px;
  background: rgba(0,0,0,0.8);
}
  .form-content .add-on{
    width: 100px;
    text-align: right;
  }
  .form-content .input-prepend{
    display: block;
    margin-bottom: 10px;
  }

input, select{
     height: 30px;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.428571429;
     color: #555555;
     vertical-align: middle;
     background-color: #ffffff;
     background-image: none;
     border: 1px solid #cccccc;
     border-radius: 0 5px 5px 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
     transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.connectedSortable tr, .ui-sortable-helper {
    cursor: move;
}
.connectedSortable tr:first-child {
    cursor: default;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: red;
}

.input-append .add-on,
     .input-prepend .add-on {
       display: inline-block;
       width: auto;
       height: 30px;
       min-width: 16px;
       padding: 4px 5px;
       font-size: 14px;
       font-weight: normal;
       line-height: 20px;
       text-align: center;
       text-shadow: 0 1px 0 #ffffff;
       background-color: #eeeeee;
       border: 1px solid #ccc;
     }

     .input-prepend .add-on:first-child, .input-prepend .btn:first-child {
     -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
     border-radius: 4px 0 0 4px;
     }

     .input-prepend .add-on, .input-prepend .btn {
     margin-right: -5px;
     }

     .input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
     vertical-align: top;
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
     }

     select.input-medium{
       width: 155px;
       height: 30px;
     }

     select.input-small{
       height: 30px;
     }

.navbar-brand {
    color: yellow !important;
}