.btn-hover {
    @include x-box-shadow(inset 0px 0px 0px #f459b8, 0px 1px 0px 0px #c00f78);
    top: 2px;
    color: #fff;
    &:before {
        border-width: 20px;
    }
}

.btn {
    position: relative;
    cursor: pointer;
    outline: none !important;
    font-family: "base_font";
    font-size: 14px;
    background: #f459b8;
    color: #fff;
    padding: 10px 15px;
    border: none;
    @include x-box-shadow(inset 0px 0px 0px #f459b8, 0px 3px 0px 0px #c00f78);
    @include x-border-radius(5px);
    &:hover {
        @extend .btn-hover;
    }
    &:active {
        color: #fff !important;
    }
}
