/*--------------------------------------------
    Fonts
--------------------------------------------*/

@font-face {
    font-family: 'base_font';
    src: url("../fonts/nor_____-webfont.eot");
    src: url("../fonts/nor_____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nor_____-webfont.woff") format("woff"), url("../fonts/nor_____-webfont.ttf") format("truetype"), url("../fonts/nor_____-webfont.svg#nobel-regularregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'base_font_bold';
    src: url("../fonts/nobd____-webfont.eot");
    src: url("../fonts/nobd____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nobd____-webfont.woff") format("woff"), url("../fonts/nobd____-webfont.ttf") format("truetype"), url("../fonts/nobd____-webfont.svg#nobel-boldregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'base_font_light_reg';
    src: url("../fonts/nolt____-webfont.eot");
    src: url("../fonts/nolt____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nolt____-webfont.woff") format("woff"), url("../fonts/nolt____-webfont.ttf") format("truetype"), url("../fonts/nolt____-webfont.svg#nobel-lightregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'komika_axisregular';
    src: url("../fonts/KOMIKAX_-webfont.eot");
    src: url("../fonts/KOMIKAX_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/KOMIKAX_-webfont.woff2") format("woff2"), url("../fonts/KOMIKAX_-webfont.woff") format("woff"), url("../fonts/KOMIKAX_-webfont.ttf") format("truetype"), url("../fonts/KOMIKAX_-webfont.svg#komika_axisregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
